*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(93, 101, 103);
}

.Card{
  background: whitesmoke;
  border: 5px solid rgb(0, 0, 0);
  justify-content: center;
  padding: 5px 15px;
  width: 350px;
  height: 450px;
  margin: 5px;
  border-radius: 50px;
  
}

.Card img{
  height: 170px;
  width: 180px;
object-fit: cover;
  border-radius: 50%;
  background-color:rgb(76, 0, 255);
  border-color:  black;
  
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.Card button2{
  border : 5px solid rgb(59, 108, 122);
  padding: 5px 10px;
  background-color: rgb(105, 131, 73);
  color: rgb(29, 32, 31); 
  border-radius: 15px;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
}

.Card p {
  padding: 5px 30px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Card .center{
  display:flex;
  align-items: center;
  
}

.center p{
  font-style: italic;
  background-color:rgb(183, 157, 157);
  border-radius: 10px;
  border-color: rgb(8, 8, 8);
  border-width: 5px;
  width: 200px;
}

.center h4{
  font-style: italic;
  background-color:rgb(183, 157, 157);
  border-radius: 10px;
  border-color: rgb(8, 8, 8);
  border-width: 5px;
  width: 150px;
  height: 70px;
  text-align: center;
  align-content: center;
  margin: 10px;
}

.bottom h3{
  padding: 10px 20px;
  margin-left: 70%;
  margin-top: -110%;
}

.bottom h4{
  background-color: dimgray;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  font-size: large;
  margin-left: 100px;
  text-align: center;
}

.bottom button1{
padding:  5px 2px;
margin-left: 25px;
line-height: normal;
border-radius: 5px;
border : 2px solid red;
background-color: rgb(28, 106, 94);
position: absolute;
font-size: x-large;
width: 100px;}

.Nav {
  background-color: rgb(44, 89, 124);
  text-align: center;
  font-size: larger;
  height: 50px;
  width:100%;
  margin: 20px;
  border-radius: 25px;
border-color: bisque;
}

.Nav h2 {
  background-color: rgb(134, 134, 85);
 
}







